@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(20, 20, 20);
    font-family: 'Lato', sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    color: #000;
    letter-spacing: 0.05em;
}
main{
    overflow: hidden;
}
.nav{
  display: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: transparent;
}
.nav-tele{
    display: flex;

    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin-top: 16px;

}
.nav-tele ul li{
list-style: none;
display: inline;
color: white;
font-size: 20px;
}

.lista{
    font-family: 'Times New Roman', Times, serif;
}
.lista-nav li{
padding: 10px;
}
.lista ul li{
    display: inline;
    text-decoration: none;
font-size: 20px;
font-family: 'Helvetica', sans-serif;
cursor: pointer;
}

.lista2 ul li{
    display: inline;
    margin: 0;
}
.lista-nav .carta a{
    color: gold
}
.lista-nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
}

.boton-abrir{
   position: fixed;
   top: 0;
   right: 0;
   padding: 15px;
   z-index: 999;
   margin-right: 10px;
 
   }
   .boton-abrir a{
    
    text-decoration: none;
    color: rgb(162, 142, 30);
    
   }
.lista2 ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 0px;
    font-family: 'Helvetica', sans-serif;
    cursor: pointer;
}
.fijo{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: transparent;
}
.texto{
    color: #d9932f;
}
.cambio-color a {
    color: white;
}
.margin{
 margin-right: 500px;
}

.cambio{
position: absolute;
left: 15%;
bottom: 40%;


}
.titulo-img{
    color: #d9932f;
    font-weight: 400;

}
.titulo2-img{
font-weight: 900;
font-size: 28pt;
letter-spacing: -1px;
text-transform: uppercase;
}
.titulo3-img{
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 28pt;
letter-spacing: -1px;
text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat',sans-serif;
}
.text-yellow{
    color: gold;
}
.texto-categoria{
    margin-top: 25px;
    color: #d9932f;
    font-weight: 900;
    font-size: 32px;
}
.boton{
border: 1px solid white;
text-decoration: none;
display: inline-block;
margin-top: 30px;
padding: 15px;
color: white;
}
.img-content img{
    object-fit: cover;
}
.sacar-padding{
    padding-left: 0 ;
    padding-right: 0 ;
}
.centrado-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heigh-img{
    height: 75vh;
    background-position: center center;
}
.contenedor{
    width: 100%;
    height: 60vh;
    background-image: url(../IMAGENES/bg.png);
    background-position: top center; 
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
}
.show-boton{
    display: none;
}
.contenedor .wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
align-items: center;
    justify-content: center;
    
    }
    .contenedor .wrap .box{
 
        flex-basis: 100%;
        color: #fff;
        text-align: center;
    
       
    }
    
    .box span{
    
        font-size: 18px;
        letter-spacing: 2px;
    
    }
    .box h1{
        font-size: 32px;
    
    
      
    }
    .box p{
        font-size: 16px;
    
    
        padding: 0px 20px 0px 20px;
    
    }
   
    
    .box .botones .boton1{
        display: inline-block;
        margin-top: 10px;
    flex-basis: 30%;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
 
    text-align: center;
    text-decoration: none;
    color: #fff;
    
    
    }
  
    .cajita{
        width: 50%;
        height: 100px;
        border-radius: 5px;
        margin: 0 auto;
        order: 1;
    }
    .centrado{
        justify-content: center;
        align-items: center;
    }

    .color-cambio{
        background-color: rgb(20, 20, 20);
     border: 4px solid rgb(141, 97, 15);
        padding: 15px;

    }
    .background-color-cambio{

        height: 50vh;
        background-color: rgb(32, 30, 30);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .background-color-cambio2{

        height: 50vh;
        background-color: rgb(92, 33, 33);
        display: flex;
        justify-content: start;
        align-items: center;
    }
   
    .input-email{
        border: 0;
        width: 50%;
        background-color: black;
        margin-left: 60px;
        padding: 15px;
        color: white;
    
    }
    .text-content-box{
        padding: 50px;
    }
    .boton2{
        text-decoration: none;
        color: #fdfdfd;
        border: 1px solid rgb(174, 154, 42);
        padding: 15px;
        background-color: rgb(174, 154, 42);
        
    }
    .boton3{
        text-decoration: none;
        color: #fdfdfd;
        display: inline-block;
       margin-top: 10px;
        padding: 10px;
        background-color: rgb(141, 97, 15);
    }
    .titulo-footer{
    
        color: rgb(166, 155, 94);
        width: 20%;
        border-bottom: 1px solid gold;
        padding-bottom: 15px;
    
    }
    .cambios li::before{
        content: "-";
    }
    .cambios{
list-style: none;
padding: 0;

    }
    .cambios li{
        margin-top: 16px;
    }
  footer{
    padding: 70px 70px 10px 70px;
  }
 
  .caja-tarjeta{
    border-top: 1px solid gold;
  border-bottom: 1px solid gold;
  padding: 25px;
  width: 100%;

  
  }
 .cambio-letras img{
    max-width: 100%;
    height: auto;
 }
  .centrar-caja{
    display: flex;
    justify-content: center;
  }
  .dropdown-usuario{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: .5s;

  }
  .dropdown-usuario2{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
 
  }
  .dropdown-usuario2 li{
  padding-top: 10px;
  }
 .nueva{
margin-right: 100px;
 }
 a{
    text-decoration: none;
 }
.show-lista2{
height: 120px;

}
  .show-lista{
    height: 70px;
  }
  
  .cambio-flecha svg{
    transform: rotate(0deg);
    transition: .5s;
  }
  
  .cambio-flecha svg{
    transform: rotate(90deg);
  }
  .lista-final{
    padding-left: 100px;
  }
 
  @media (max-width: 766px) {
    .responsive-cel{
        padding: 0;
    }
    .background-color-cambio2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-email{
        margin: 0;
        width: 60%;
    }
  .centrado{
    margin: 0 auto;

  }
 
  .carousel-item img{
    height: 50vh;
   }
   .titulo-img{
   font-size: 14px;
   }
   .titulo2-img{
font-size: 22px;
   }
   .titulo3-img{
font-size: 22px;
   }
   .boton{
    margin-top: 10px;
padding: 5px;
   }
   .input-email{
    display: block;
   }
   .boton2{
    display: block;
   }
 
}
@media screen and (max-width: 992px){
   
    .nav{
        display: block;
          position: fixed;
          top: 0;
          left: -100%;
          background-color: #fff;
          z-index: 100;
          width: 70%;
          height: 100%;
          transition: left 2s;
          
    
        
        }
    
        .nav-aparecer{
            left: 0;
            
        }
        .lista-nav{
            display: none;
        }
        .lista-final ul li{
            display: none;
        }

       .lista ul{
    display: flex;
    align-items: center;
    justify-content: center;
        padding: 0;
        margin: 0;
       }
       .nav-p{
        text-align: center;
       }
       .nav-p a{
        text-decoration: none;
        font-size: 20px;
        color: #e531ca;
       }
       .lista2 ul{
        margin: 20px 0px 0px 0px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        
       }
       .lista2 ul li{
        margin-top: 15px;
        margin-left: 15px;
        width: 94%;
        padding-bottom: 15px;
        border-bottom: 2px solid rgb(165, 165, 165);
       
       }
       .boton-cerrar a{
        text-decoration: none;
        color: #e531ca;
       }
      
       .boton-abrir a{
        
        text-decoration: none;
        color: rgb(162, 142, 30);
        
       }
       .show-boton{
        display: block;
    }
      }
    
    

