* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-index {
    height: 58vh;

}

.navbar-index {
    background-color: black;
    font-size: 3vh;
}

.body-index {
    background-image: url(/IMAGENES/mojito.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.boton-reg-log {
    min-height: 25vh;
    min-width: 20vw;
    margin-top: 30vh;
    margin-left: 60vw;
}

.navbar-admin {
    text-decoration: none;
    background-color: black;
    height: auto;
    width: 15vw;
    min-height: 100vh;
    min-width: 15vw;
}

.lista-navbar-admin {
    list-style: none;
    font-size: 200%;
}

.lista-navbar-admin a {
    text-decoration: none;
    color: white;
}

.lista-ingredientes{
    list-style: none;
}
.tablaBotellasAdmin{
    width: 80vw;
}

@media(max-width:768px){
    .navbar-admin{
      width: 100vw;
      text-align: center;
      height: 20vh;
    }
    .tablaBotellasAdmin{
        width: 100vw;
    }
  }
  