* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main-index {
    height: 58vh;

}

.navbar-index {
    background-color: black;
    font-size: 3vh;
}

.body-index {
    background-image: url(/IMAGENES/mojito.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.boton-reg-log {
    min-height: 25vh;
    min-width: 20vw;
    margin-top: 30vh;
    margin-left: 60vw;
}

.navbar-admin {
    text-decoration: none;
    background-color: black;
    height: auto;
    width: 15vw;
    min-height: 100vh;
    min-width: 15vw;
}
.cardsInicioAdmin{
    max-width: 640px;
}
.cardsInicioAdmin img{
    height: 40vh;
}
.lista-navbar-admin {
    list-style: none;
    font-size: 200%;
}

.lista-navbar-admin a {
    text-decoration: none;
    color: white;
}

.lista-ingredientes{
    list-style: none;
}
.tablaBotellasAdmin{
    width: 80vw;
}
.descrp-bot-admin{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.img-tabla-admin{
    min-width:10vw; 
    width: 10vw; 
    min-height:20vh;
    height: 25vh;
}
.body-404{
    background-image: url(/IMAGENES/error404.png);
    background-size: 100vw 100vh;
}

@media(max-width:768px){
    .navbar-admin{
      width: 100vw;
      text-align: center;
      height: 20vh;
    }
    .tablaBotellasAdmin{
        width: 100vw;
    }
    .cardsInicioAdmin{
        min-width: none;
    }
    .img-tabla-admin{
        min-width:25vw;
        min-height:25vh;
    }
    .body-404{
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
  }
  